.app-backgorund{
  background-color: rgb(5, 34, 10);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-direction: column;
}

.title{
  color:#ffffff;
}

.MuiButton-root.buttonSearch{
  display: flex;
  border: solid 1px #006400;
  border-radius: 20px;
  color: #ffffff	;
  background-color: #4682B4;
  transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
  cursor: pointer;
  font-weight: bold;  
  }

.MuiButton-root.buttonShowAll{
  display: flex;
  border: solid 1px #006400;
  border-radius: 20px;
  color: #ffffff;
  background-color: #4682B4;
  transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
  cursor: pointer;
  font-weight: bold;
}


.MuiFormControl-root.searchForm{
  display: flex;
  border-radius: 20px;
  cursor: pointer;
  outline: none;
  box-shadow: none;
  width: 100%; 
  background-color: #4682B4;
}

.searchForm .MuiInputBase-input {
  color: #4682B4; 
  cursor: pointer;
}
